body {
  background-color: #000000;
  color: #fff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
  color: #000000;
}

header {
  background-color: blanchedalmond;
  width: 100vw;
  padding: 1rem 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.btn {
  width: 100%;
}

.leaflet-popup-content-wrapper, .leaflet-popup-content, .leaflet-popup-tip {
  background-color: rgb(53, 51, 51) !important;
  color: white !important;
}

.leaflet-popup-content-wrapper {
  border: #737070 solid 1px;
}
